# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized

# Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

# Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib

# | Data Science Tools |
| --- |
| Jupyter Notebook |
| RStudio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [11]:
# This a simple arithmetic expression to mutiply then add integers 
(3*4)+5

17

# This a simple arithmetic expression to mutiply then add integers

# This will convert 200 minutes to hours by diving by 60

In [14]:
200/60

3.3333333333333335

# Objectives:

- List popular languages for Data Science
- List commonly used libraries in Data Science
- List some Data Science tools
- Demonstrate basic arithmetic operations in Python

## Author
Akylbek Mamasaliev